html, body
{
  height: 100%;
  margin: 0;
  padding: 0;
}

.audio-player
{
  align-items: center;
  background: #EEE;
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
  height: 100%;
  justify-content: center;
  width: 100%;
}

.audio-player input[type="file"]
{
  margin-bottom: 2em;
}

.audio-player div
{
  font-size: 1.5em;
  margin-bottom: 1em;
  text-align: center;
  width: 15em;
}

.audio-player div::before
{
  background: #CCC;
  content: '';
  display: block;
  height: 8em;
  -webkit-mask: url('../images/file-music.svg') no-repeat top center;
  mask: url('../images/file-music.svg') no-repeat top center;
  -webkit-mask-size: 45% auto;
  mask-size: 100% auto;
}

.audio-player.state-active div::before, .audio-player.state-playing div::before
{
  background: #336699;
}
